body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, red, orange);
}

nav {
    background-color: rgba(255, 255, 255, 0.7); /* Make the nav semi-transparent */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.content {
    text-align: center;
    color: black; /* Set text color */
}

.move-button,
.return-button {
    position: absolute;
    bottom: 20px;
}

.move-button {
    right: 20px;
}

.return-button {
    left: 20px;
}